 body {
            font-family: Arial, sans-serif;
            background: #f2f4f8;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 500px;
            margin: 40px auto;
            background: white;
            padding: 20px 25px;
            border-radius: 10px;
        }

        h1 {
            margin-top: 0;
            text-align: center;
        }

        h2 {
            margin-bottom: 10px;
            color: #000000;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: 12px;
            border: 1px solid #000000;
        }

        a {
            display: block;
            padding: 12px;
            background: #e9ecf3;
            border-radius: 6px;
            text-decoration: none;
            color: #000000;
            font-weight: bold;
            transition: 0.2s;
        }