blinker==1.9.0  #Flask extension to communicate via signals/events
click==8.1.3  #Flask uses it for CLI commands like flask run
Flask==3.1.2  #web framework for building application 
flask-cors==6.0.1  #allows front end to make requests to backend
itsdangerous==2.2.0  #library for securely signing data (sessions, cookies)
Jinja2==3.1.6  #renders HTML pages with dynamic content
MarkupSafe==3.0.3  #safely escapes HTML to prevent injection attac
Werkzeug==3.1.4  #Flask uses this for request/response handling, routing, and debugging
openai-whisper==20250625  #text to speech model
googletrans==4.0.2 #google translate api wrapper for translating text between languages
gtts==2.5.4 #google text to speech library for converting text to speech audio files